* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.cardHighlight {
  min-height:  100%;
}

img {

  width: 40px;
}

.xturn, .oturn {
  width: 20px;
}

td {
  cursor: pointer;
}

.title-card {
  cursor: pointer;
}

.provider {
  display: none;
}

/*@media (max-width: 600px){
  p {
    font-size: 55%;
  }
}*/