* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.cardHighlight {
  min-height:  100%;
}

img {
  width: 40px;
}

.xturn, .oturn {
  width: 20px;
}

td {
  cursor: pointer;
}

.title-card {
  cursor: pointer;
}

.provider {
  display: none;
}

.table-board {
  height: 12rem;
  width: 12rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-box {
  padding: 0.8rem;
  border: 1px solid #DEE2E6;
}

.remove-left-border {
  border-left: none;
}

.remove-right-border {
  border-right: none;
}

.remove-top-border {
  border-top: none;
}

.remove-bottom-border {
  border-bottom: none;
}
